-e git+https://github.com/LSDOlab/csdl.git@master#egg=csdl
-e git+https://github.com/LSDOlab/csdl_om.git@master#egg=csdl_om
Deprecated==1.2.13
gprof2dot==2021.2.21
guppy3==3.1.0
-e git+https://github.com/lsdolab/modopt.git@main#egg=modopt
numpy==1.23.1
openmdao==3.10.0
pytest==7.1.2
-e git+https://github.com/LSDOlab/python_csdl_backend.git@master#egg=python_csdl_backend
python-utils==2.5.6
scipy
-e git+https://github.com/anugrahjo/array_manager.git@modopt#egg=array_manager
pandas==1.4.2